body {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-box {
  width: 90vh;
  #nameLi,
  #numberLi {
    width: 15vh;
  }
}

.red{
  color: red;
}
.green{
  color: green;
}